mixin jpeg(name)
    img(src=`images/${name}.jpeg` alt=name class="image")

mixin jpg(name)
    img(src=`images/${name}.jpg` alt=name class="image")

mixin png(name)
    img(src=`images/${name}.png` alt=name class="image")

mixin svg(name)
    img(src=`svg/${name}.svg` alt=name class="image")
